<h3>Users</h3>
<%= link_to("Add new User", {:controller => "users", :action => "new"}) %>
<table class="table table-striped">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |u| %>
        
        <tr>
            <td><%= u.id %></td>
            <td><%= u.name %></td>
            <td><%= u.email %></td>
            <td>
                <%= link_to("Add Photo", {:controller => 'photos', :action => 'new', :user_id => u.id}, :class => 'btn btn-primary') %>
                <%= link_to("Show Photos", {:controller => 'users', :action => 'show', :user_id => u.id}, :class => 'btn btn-success') %>
                <%= link_to("Edit", {:action => 'edit', :id => u.id }, :class => 'btn btn-warning') %>
                <%= link_to("Delete", {:action => 'delete', :id => u.id }, :class => 'btn btn-danger') %>
            </td>
        </tr>

        <% end %>
    </tbody>
</table>