<!DOCTYPE html>
<html>
    <head>
    <title><%= @page_title || "Photo app" %></title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
<body>
    
    <div class="container">
        <div class="page-header">
            <% if session[:username] %>
                <div>
                    <h5>Hello <%= session[:username] %> | <%= link_to("Log out", {:controller => "access", :action => 'logout'}) %></h3>
                </div>
            <% end %>
            <% if flash["notice"] %>
            <div class="alert alert-success" role="alert">
                <%= flash["notice"] %>
            </div>
            <% end %>
            <% if flash["error"] %>
                <div class="alert alert-danger" role="alert">
                    <%= flash["error"] %>
                </div>
            <% end %>
            
            <div class="row">
                <div class="col-md-12">
                    <h1>Photo Upload App</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <%= yield %>
            </div>
        </div>
    </div>
    <!-- Rails code here -->
    <hr>
    <strong>Bruno Paulino</strong>
</body>
</html>
